.item2::before{
    color:blue;
    content: "●";
    margin-right:.75rem;
   
}
ul{
    white-space: nowrap;
}
#btn2{
    padding-top:15px;
    padding-bottom: 15px;
}
#Get-Started{
    background-color: #7fff00;
    white-space: nowrap;
}

body{
    width:100vw;
}

