button {
    border-radius: 10px;
}
a {
    text-decoration: none;
}
/*------------------------------------------------------ CONTAINER HEADER START ------------------------------------------------------*/
.container_header{
    /* border: solid red; */
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.container_header a{/*CONTAINER HEADER LINKS SPECIFICALLY*/
    /* border: solid red; */
    text-decoration: none;
    color: grey;
}

.container_header .col-lg-2{/*CONTAINER HEADER PICTURE*/
    /* border: solid ORANGE; */
    display: flex;
    justify-content: space-around;
}

.container_header .col-lg-7{/*CONTAINER HEADER BOX OF LINKS*/
    /* border: solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.container_header .col-lg-3{/*CONTAINER HEADER BUTTONS*/
    /* border: solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .container_header button{
    background-color: white;
} */
.container_header .signin{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.container_header .signin:hover{
    background-color: blue;
    color: white;
    border: 1px solid white;
}
.container_header .signin:active{
    background-color: rgba(0, 0, 60, 0.7);
    color: white;
    border: 1px solid white;
}
.container_header .tryfree{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.container_header .tryfree:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.container_header .tryfree:active{
    background-color: rgba(0, 0, 0, 0.25);
    color: blue;
    border: 1px solid blue;
}

/*------------------------------------------------------ CONTAINER HEADER END ------------------------------------------------------*/

/*------------------------------------------------------ CONTAINER FOCUS START ------------------------------------------------------*/

.container_focus{
    /* border: solid red; */
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.container_focus .col-lg-7{
    /* border: solid lime; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_focus .chunk1{
    /* border: solid green; */
    font-weight: 550;
    font-size: 100px;
}
.container_focus .chunk2{
    /* border: solid purple; */
    font-weight: 400;
    font-size: 40px;
}
.container_focus .chunk3{
    /* border: solid orange; */
    font-weight: 550;
    font-size: 25px;
    color: rgb(175, 175, 175);
}
.container_focus .buttons{
    /* border: solid green; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.container_focus .buttons .signup{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}
.container_focus .signup:hover{
    background-color: rgba(0, 0, 255, 0.750);
    color: white;
    border: 1px solid blue;
}
.container_focus .signup:active{
    background-color: rgba(0, 0, 100, 0.75);
    color: white;
    border: 1px solid blue;
}
.container_focus .buttons .chat{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}
.container_focus .chat:hover{
    background-color: rgba(0, 0, 0, 0.150);
    color: blue;
    border: 1px solid blue;
}
.container_focus .chat:active{
    background-color: rgba(0, 0, 0, 0.350);
    color: blue;
    border: 1px solid blue;
}
.container_focus .chunk4{
    /* border: solid pink; */
    font-weight: 500;
    font-size: 25px;
    color: rgb(145, 145, 145);
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_focus .chunk4 a{
    color: rgb(145, 145, 145);
}

.container_focus .chunk5{
    font-size: 40px;
    color: blue;
}
.container_focus .col-lg-5{
    /* border: solid purple; */
}
.container_focus .col-lg-5 img{
    /* border: solid purple; */
    width: 100%; 
    max-height: auto;
}
/*------------------------------------------------------ CONTAINER FOCUS END ------------------------------------------------------*/

/*------------------------------------------------------ CONTAINER WORKS/EXPLORE START ------------------------------------------------------*/

.container_works{
    /* border: solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    gap: 50px;
    /* align-content: center;
    justify-content: center;
    align-items: center; */
    /* margin: 100px; */
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.how{
    /* border: solid red; */
    border-top: 1px solid gray;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    max-width: 75vw;
    padding-top: 50px;
}
.icons{
    /* border: solid lime; */
    display: flex;
    justify-content: space-between;
}
.icons img{
    /* border: solid pink; */
    /* width: 100%; 
    height: auto; */
    max-height: 90%;
    max-width: 90%;
}

.icons .circle{
    /* border: solid orange; */
    border-radius: 50%;
    width: 100%;
    min-height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.square{
    /* background-color: red; */
    border: 1px solid grey;
    color: grey;
    border-radius: 10px;
    padding: 10px;
    width: 10vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.square:hover{
    border: 1px solid grey;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 10vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container_works .col-lg-5{
    /* border: solid red; */
    border: 1px solid gray;
    max-width: 50vw;
    color: white;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container_works .col-lg-7{
    /* border: solid red; */
    max-width: 50vw;
    color: white;
    background-color: blue;
    padding: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}















.container_works .col-lg-6{
    border: dotted red;

}
.row .col-lg-6 .solutions{
    border: solid lime;
}
.row .col-lg-6 .solutions .circle img{
    border: solid purple;
    max-height: 90%;
    max-width: 90%;
}
.container_works .row .col-lg-6 .solutions .circle{
    border: solid orange;
    border-radius: 50%;
    width: 100%;
    min-height: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}





















/*------------------------------------------------------ CONTAINER WORKS/EXPLORE END ------------------------------------------------------*/

/*------------------------------------------------------ CONTAINER FOOTER START ------------------------------------------------------*/

.container_footer{
    /* border: solid red; */
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container_footer .try{
    /* border: solid orange; */
    font-size: 30px;
    font-weight: bold;
}
.container_footer .start{
    /* border: solid pink; */
    font-size: 15px;
    font-weight: 500;
}
.container_footer .buttons{
    /* border: solid purple; */
}
.container_footer .points{
    /* border: solid blue; */
}

.container_footer .buttons{
    /* border: solid green; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_footer .buttons .signup{
    background-color: lime;
    color: white;
    border: 1px solid lime;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
.container_footer .signup:hover{
    background-color: rgba(0, 255, 0, 0.750);
    color: white;
    border: 1px solid lime;
}
.container_footer .signup:active{
    background-color: rgba(0, 200, 0, 0.75);
    color: white;
    border: 1px solid lime;
}

.container_footer .buttons .chat{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
.container_footer .chat:hover{
    background-color: rgba(255, 255, 255, 0.74);
    color: blue;
    border: 1px solid blue;
}
.container_footer .chat:active{
    background-color: rgba(255, 255, 255, 0.350);
    color: blue;
    border: 1px solid blue;
}
.container_footer .points{
    font-size: 40px;
}