/* .row{
    border: solid red;
}

.col-6{
    border: solid black;
}

.col-4{
    border: solid gray;
}

body{
    
    
   
    border: solid pink;
} */

.container .row .col-md-8 {
    /* background-image: url(/images/Group\ 10.png); */
    /* height: 60vh;
    width: 97vh; */
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
    display: flex;
}
.container .row .col-md-8 img{
    height: 100%;
    width: 100%;

}

.rounded-button {
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
   }

   .button{
    border-color: white;
    color: white;
   }

   .form-group img{
    height: 10em;
    width: 10em;
   }
   
   .form-group input{
    width: 50%;
   }

   .picline{
    border: 1px solid black;
    display:flex;
    padding: 15px;
    border-radius: 50px;
   }

   .picline input{
    border: none;
   }

.picline img{
    height: 2em;
    width: 2em;
}